OpenEdge/.settings/
OpenEdge/.dbconnection
OpenEdge/.project
OpenEdge/.propath
DotNet/PQC/ProQuoteCustomer/bin/
.dbconnection
.idea/
.project
.propath
.settings/
OpenEdge/.openedge.json
OpenEdge/launch.json
/DotNet/Build.bat
/OpenEdge/VST.p
DotNet/PQC/ProQuoteCustomer/ProQuoteCustomer.csproj
DotNet/PQS/PSapplication/PSapplication.csproj
/OpenEdge/start-profiler.p
/OpenEdge/stop-profiler.p
/DotNet/*.bat
.openedge-ztext.json
.DS_Store

OpenEdge/icavail.p
OpenEdge/pdzcf.p
/OpenEdge/pf/quotingapp100.pf
/OpenEdge/pf/quotingapp240.pf
/OpenEdge/protrace.14504
/OpenEdge/.metadata
